<app-navbar></app-navbar>
<div class="ui container">
  <div id="winkels">
    <h1>{{param}}</h1>
    <button (click)="showAdd()" class="ui button add" *ngIf="stores && admin">+</button>
    <div class="content">
        <div class="foutStores"></div>
    <div class="bestaatniet" *ngIf="!stores">
      <h2>Dit product bestaat niet/is nog niet toegevoegd aan onze zoekmachine.</h2>
    </div>
    <div class="ui divided items">
    <div *ngFor="let store of stores">
      <app-store *ngIf="store.fav" [store]="store"></app-store>
        </div>
        <div *ngFor="let store of stores">
          <app-store *ngIf="!store.fav" [store]="store"></app-store>
            </div>
        </div>
        </div>
      </div>  
</div>
<app-addstore></app-addstore>