<app-navbar></app-navbar>
<div class="ui container">
  <div id="winkels">
    <h1>{{param}}</h1>
    <div class="bestaatniet" *ngIf="!stores">
      <h2>Dit product bestaat niet/is nog niet toegevoegd aan onze zoekmachine.</h2>
    </div>
    <div *ngFor="let store of stores">
        <div class="ui divided items">
            <div class="item store">
              <div class="content">
                <a class="header">{{store.name}}</a>
                <div class="meta">
                  <span class="cinema">{{store.street}} {{store.number}}, {{store.city}}</span>
                </div>
                <div class="description">
                  <p></p>
                </div>
                <div class="extra">
                  <div *ngIf='store.food' class="ui label"><i class="lemon icon"></i>Food</div>
                  <div *ngIf='store.bancontact' class="ui label"><i class="credit card icon"></i>Bancontact</div>
                  <div *ngIf='store.sunday' class="ui label"><i class="shopping basket icon"></i>Open op zondag</div>
                </div>
              </div>
            </div>
      
    </div>
        </div>
      </div>  
</div>